[Desktop Entry]
Type=Application
Name=LED Native Controller
Exec=/usr/bin/python3 /opt/led-pi/native-controller/app.py
Terminal=false
X-GNOME-Autostart-enabled=true
