PORT=3000
DEVICE_MODE=mqtt
MQTT_URL=mqtt://127.0.0.1:1883
MQTT_USER=leduser
MQTT_PASSWORD=change-me
UPDATE_AUTH_TOKEN=Vives_plus
UPDATE_BASE_URL=https://raw.githubusercontent.com/AlessioD200/LEDTEST/main
DEVICE_ID=esp32-led-1
STATE_FILE=./data/state.json
